// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  height: 65px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 24px;
  transition: background-color .25s ease-out;

  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .5;
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-image: none;
    //background-color: #007bff;

    &:focus {

    }
  }

  &-pink {
    background-color: $pink;
    color: $white;

    &:hover {
      background-color: darken($pink, 15%);
    }
  }
  &-white {
    background-color: $white;
    color: $pink;

    &:hover {
      background-color: darken($pink, 25%);
      color: $white;
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  background-color: transparent;

  &:focus,
  &.focus {
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
  }

  // No need for an active state here
}

a.btn {
  text-decoration: none;
  line-height: 60px;
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: 5px;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// button size

.btn {
  &-lg {
    width: 360px;
  }
}