.link-vk {
  display: inline-block;
  width: 41px;
  height: 23px;
  background: url("./images/i-vk.png") no-repeat center;
  background-size: contain;
  text-decoration: none;
}

.link-inst {
  display: inline-block;
  width: 19px;
  height: 20px;
  background: url("./images/i-inst.png") no-repeat center;
  background-size: contain;
  text-decoration: none;
}