<section class="s-target">
	<div class="container">
		<h2 class="text-center js-fade-in">Что вам даст участиев Мастерской Женского&nbsp;Счастья?</h2>
		<ul class="list-target js-fade-in">
			<li>
				<div class="target-img" style="background-image: url('images/content/woman-1.jpg')"></div>
				<div class="target-body">
					<p class="target-text">Соединиться с силой и ресурсами своей внутренней Женщины</p>
				</div>
			</li>
			<li>
				<div class="target-img" style="background-image: url('images/content/woman-2.jpg')"></div>
				<div class="target-body">
					<p class="target-text">
						Восстановить поток любви к себе и быть вдохновительницей
					</p>
				</div>
			</li>
			<li>
				<div class="target-img" style="background-image: url('images/content/woman-3.jpg')"></div>
				<div class="target-body">
					<p class="target-text">
						Воссоздать гармонию, свободу и игривость в отношениях (в т.ч. после кризисов)
					</p>
				</div>
			</li>
			<li>
				<div class="target-img" style="background-image: url('images/content/woman-4.jpg')"></div>
				<div class="target-body">
					<p class="target-text">
						Почувствовать и впустить энергию изобилия в свою жизнь
					</p>
				</div>
			</li>
			<li>
				<div class="target-img" style="background-image: url('images/content/woman-5.jpg')"></div>
				<div class="target-body">
					<p class="target-text">
						Сформировать ясное видение будущего, в соответствии со своими ценностями и целями
					</p>
				</div>
			</li>
			<li>
				<div class="target-img" style="background-image: url('images/content/woman-6.jpg')"></div>
				<div class="target-body">
					<p class="target-text">
						Почувствовать вкус яркой жизни, наполненной страстью и азартом
					</p>
				</div>
			</li>
			<li>
				<div class="target-img" style="background-image: url('images/content/woman-7.jpg')"></div>
				<div class="target-body">
					<p class="target-text">
						Получить поддержку женского круга, обрести новых подруг
					</p>
				</div>
			</li>
			<li>
				<div class="target-img" style="background-image: url('images/content/woman-8.jpg')"></div>
				<div class="target-body">
					<p class="target-text">
						Осознать секрет личного успеха
					</p>
				</div>
			</li>
		</ul>
		<div class="text-center">
			<button class="btn btn-white btn-lg">Забронировать место</button>
		</div>
	</div>
</section>