<section class="s-questions">
	<div class="container js-fade-in">
		<div class="text-center">
			<h2>Остались вопросы?</h2>
			<a href="#popup-form-2" class="btn btn-pink btn-lg link-popup">Связаться с нами</a>
		</div>
	</div>
</section>