<section class="s-questions">
	<div class="container js-fade-in">
		<div class="text-center">
			<h2>Остались вопросы?</h2>
			<button class="btn btn-pink btn-lg">Связаться с нами</button>
		</div>
	</div>
</section>