<section class="s-features">
	<div class="container">
		<h2 class="text-center js-fade-in">Мастерская женского счастья для вас, если:</h2>
		<ul class="list-features js-fade-in">
			<li>
				<div class="ok-icon"></div>
				<div>
					Устали от однообразной жизни? Хотите получать БОЛЬШЕ удовольствия и чувствовать радость от каждого прожитого дня?
				</div>
			</li>
			<li>
				<div class="ok-icon"></div>
				<div>
					Хотите еще шире взглянуть на свою жизнь? Вдохнуть свежего ветерка и впустить новых впечатлений и ощущений?
				</div>
			</li>
			<li>
				<div class="ok-icon"></div>
				<div>
					Хотите, воспитывая детей, жить интересной и насыщенной жизнью, при этом находясь в гармонии с собой и с миром?
				</div>
			</li>
			<li>
				<div class="ok-icon"></div>
				<div>
					Хотите зажечь ваши (супружеские) отношения новыми яркими эмоциями, добавить нежности и страсти?
				</div>
			</li>
		</ul>
	</div>
</section>