<section class="s-feedback">
	<div class="container">
		<h2 class="text-center js-fade-in">Участие по самой выгодной цене!</h2>

		<div class="s-feedback-inner js-fade-in">
			<div class="s-feedback-left">
				<div class="text-center">
					<h3>Успейте купить участие по самой выгодной цене!</h3>
					<p>7000 ₽</p>
				</div>
				<div class="timer">
					<div class="timer__title">До повышения осталось:</div>
					<div class="timer__counter">
						01: 15: 18
					</div>
				</div>
			</div>
			<div class="s-feedback-right">
				<form class="form">
					<p class="form__title">Подать заявку</p>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Введите ваш адрес эл.почты">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Введите ваше имя">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Введите ваш телефон">
					</div>
					<div class="form-group">
						<button class="btn btn-pink">Участвовать</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>