<section>
	<div class="container js-fade-in">
		<div class="s-descr">
			<div class="s-descr-left">
				<p>
					Наша задача в том,<br>чтобы счастливых и реализованных Женщин
					в этом мире становилось <b>всё больше!</b>
				</p>
				<p class="mb-0">
					Начните здесь и сейчас <b>с ярких изменений!</b>
				</p>
			</div>
			<div class="s-descr-right">
				<div class="s-descr__video">
					<iframe class="video-iframe" src="https://www.youtube.com/embed/mxcYza33vWQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>