<section class="s-steps">
	<div class="container">
		<h2 class="text-center js-fade-in">
			Как проходит Мастерская Женского Счастья?<br>
			И что нужно сделать сейчас?
		</h2>
		<div class="i-logo i-logo--p js-fade-in"></div>

		<ul class="list-steps js-fade-in">
			<li>
				<div class="step-item">
					<img class="step-item__pic" src="images/content/i-step-1.png" alt="img">
					<div class="step-item__st">шаг #1</div>
					<div class="step-item__descr">Регистрируйся!</div>
				</div>
			</li>
			<li>
				<div class="step-item">
					<img class="step-item__pic" src="images/content/i-step2.png" alt="img">
					<div class="step-item__st">шаг #2</div>
					<div class="step-item__descr">Оплачивай участие.</div>
				</div>
			</li>
			<li>
				<div class="step-item">
					<img class="step-item__pic" src="images/content/i-step-3.png" alt="img">
					<div class="step-item__st">шаг #3</div>
					<div class="step-item__descr">
						На протяжении 15 дней ежедневно будут публиковаться задания в закрытой группе в
						ВКонтакте.
					</div>
				</div>
			</li>
			<li>
				<div class="step-item">
					<img class="step-item__pic" src="images/content/i-step-4.png" alt="img">
					<div class="step-item__st">шаг #4</div>
					<div class="step-item__descr">
						Выполняешь задание и заполняешь свой личный дневник. У вас есть 24 часа на выполнение задания и отчет.
					</div>
				</div>
			</li>
			<li>
				<div class="step-item">
					<img class="step-item__pic" src="images/content/i-step-5.png" alt="img">
					<div class="step-item__st">шаг #5</div>
					<div class="step-item__descr">
						Тренеры будут курировать группу на протяжении всего проекта, каждый день давая
						обратную связь.
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>