<section class="s-coaches">
	<div class="container">
		<h2 class="text-center js-fade-in">Наши тренеры</h2>
		<div class="i-logo js-fade-in"></div>
		<div class="coaches js-fade-in">
			<div class="coach-item">
				<div class="coach-pic-wrap">
					<div class="coach__pic" style="background-image: url('images/content/coach-1.jpg')"></div>
				</div>
				<div class="coach-body">
					<div class="coach__title">Николаева Екатерина</div>
					<div class="coach__descr">
						<p>
							Я профессиональный сертифицированный коуч (Международного Эриксоновского университета
							коучинга), ментор по вопросам взаимоотношений в семье и паре, арт-терапевт, художник.
							Я создаю такую атмосферу свободы пространства, искренности и открытости, в которой
							люди находят ответы на любые свои запросы. Я знаю, как построить отношения, основанные
							на близости, любви и доверии не по наслышке. Наши отношения с мужем длятся уже 15 лет,
							и 9 из которых в счастливом браке. У нас есть прекрасный сын (3 года)
						</p>
					</div>
				</div>
				<div class="coach-footer">
					<a href="#" class="link-vk"></a>
					<a href="#" class="link-inst"></a>
				</div>
			</div>
			<div class="coach-item">
				<div class="coach-pic-wrap">
					<div class="coach__pic" style="background-image: url('images/content/coach-2.jpg')"></div>
				</div>
				<div class="coach-body">
					<div class="coach__title">Романовская Наталья</div>
					<div class="coach__descr">
						<p>
							Я практикующий психолог, художник, автор и ведущая трансформационных тренингов и марафонов.
							Убеждена, что творчество – это жизнь. И важно разрешить себе раскрыть тот уникальный
							потенциал, который есть в каждом. Я помогаю найти ответы, которые скрыты в человеке,
							почувствовать собственный уникальный путь к счастью. С появлением сына тема осознанного
							материнства стала одной из моих сильных сторон. В своей работе я использую методы
							телесно-ориентированной терапии, арт-терапии, коучинга, шаманских расстановок.
						</p>
					</div>
				</div>
				<div class="coach-footer">
					<a href="#" class="link-vk"></a>
					<a href="#" class="link-inst"></a>
				</div>
			</div>
		</div>
	</div>
</section>