<section class="s-reviews">
	<div class="container">
		<h2 class="text-center js-fade-in">Отзывы наших клиентов</h2>

		<!-- Slider main container -->
		<div class="swiper-container swiper-reviews js-swiper js-fade-in">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide">
					<div class="review-item">
						<div class="review-item-top">
							<img src="images/content/avatar1.jpg" alt="" class="review-item__avatar">
							<div class="review-item__author">Ольга Михайловна</div>
							<div class="review-item__text">г. Волгодонск</div>
						</div>
						<div class="review-item-bottom">
							<p class="review-item__descr">
								Я освободилась от части ненужного груза эмоций, воспоминаний и вещей. Поняла, что
								не обязательно насильно и полностью запихивать себя в стереотип «женственности»,
								навязанный нам обществом. Расставила приоритеты в мечтах и планах, наметила примерные
								пути их осуществления. Снова обрела офигенное ощущение миллиона идей в голове и
								способности выполнить кучу дел, которое начала забывать. Мне его, чертовски, не
								хватало. А еще внезапно заново познакомилась с мужем. И это тоже просто офигенно!!!
								Я рада, что поучаствовала. Хочу сказать
							</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="review-item">
						<div class="review-item-top">
							<img src="images/content/avatar1.jpg" alt="" class="review-item__avatar">
							<div class="review-item__author">Masha Gulter</div>
							<div class="review-item__text">г. Санкт-Петербург</div>
						</div>
						<div class="review-item-bottom">
							<p class="review-item__descr">
								Я попала на тренинг благодаря моему хорошему другу. Я давно ныла, что хочу что-то
								поменять, но не знаю как, и что менять тоже не знаю. Он говорил, что одной прийти
								к какому-то положительному результату без помощи трудно, поэтому я оказалась здесь.
								Не скрою, у меня был скепсис, но я доверилась выбору друга и получила больше,
								чем ожидала. Меня очень вдохновило участие в этой Мастерской, вдохновили невероятные
								участницы, наши необыкновенные тренера, буквально, появились крылья, появилось
								тепло в душе, появились цели ,а следовательно и силы.
							</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="review-item">
						<div class="review-item-top">
							<img src="images/content/avatar1.jpg" alt="" class="review-item__avatar">
							<div class="review-item__author">Алена Никитина</div>
							<div class="review-item__text">г. Томск</div>
						</div>
						<div class="review-item-bottom">
							<p class="review-item__descr">
								Я первый раз участвовала в подобном мероприятии. Честно сказать, было немного страшно
								идти на это, но в то же время интересно – что же такого я ещё могу узнать о себе,
								что изменить, к чему всё это приведёт. Думаю, я была достаточно откровенна и поэтому
								смогла получить от него максимум пользы, поддержку, хорошую обратную связь, помощь в
								решении волнующих вопросов. Осознание своих глубинных проблем, влияющих на жизнь,
								их проработку, выделение зон роста. Самое главное, что я для себя вынесла – это
								восприятие мира, как изобильного, а не ограниченного.
							</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="review-item">
						<div class="review-item-top">
							<img src="images/content/avatar1.jpg" alt="" class="review-item__avatar">
							<div class="review-item__author">Ольга Михайловна</div>
							<div class="review-item__text">г. Волгодонск</div>
						</div>
						<div class="review-item-bottom">
							<p class="review-item__descr">
								Я освободилась от части ненужного груза эмоций, воспоминаний и вещей. Поняла, что
								не обязательно насильно и полностью запихивать себя в стереотип «женственности»,
								навязанный нам обществом. Расставила приоритеты в мечтах и планах, наметила примерные
								пути их осуществления. Снова обрела офигенное ощущение миллиона идей в голове и
								способности выполнить кучу дел, которое начала забывать. Мне его, чертовски, не
								хватало. А еще внезапно заново познакомилась с мужем. И это тоже просто офигенно!!!
								Я рада, что поучаствовала. Хочу сказать
							</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="review-item">
						<div class="review-item-top">
							<img src="images/content/avatar1.jpg" alt="" class="review-item__avatar">
							<div class="review-item__author">Masha Gulter</div>
							<div class="review-item__text">г. Санкт-Петербург</div>
						</div>
						<div class="review-item-bottom">
							<p class="review-item__descr">
								Я попала на тренинг благодаря моему хорошему другу. Я давно ныла, что хочу что-то
								поменять, но не знаю как, и что менять тоже не знаю. Он говорил, что одной прийти
								к какому-то положительному результату без помощи трудно, поэтому я оказалась здесь.
								Не скрою, у меня был скепсис, но я доверилась выбору друга и получила больше,
								чем ожидала. Меня очень вдохновило участие в этой Мастерской, вдохновили невероятные
								участницы, наши необыкновенные тренера, буквально, появились крылья, появилось
								тепло в душе, появились цели ,а следовательно и силы.
							</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="review-item">
						<div class="review-item-top">
							<img src="images/content/avatar1.jpg" alt="" class="review-item__avatar">
							<div class="review-item__author">Алена Никитина</div>
							<div class="review-item__text">г. Томск</div>
						</div>
						<div class="review-item-bottom">
							<p class="review-item__descr">
								Я первый раз участвовала в подобном мероприятии. Честно сказать, было немного страшно
								идти на это, но в то же время интересно – что же такого я ещё могу узнать о себе,
								что изменить, к чему всё это приведёт. Думаю, я была достаточно откровенна и поэтому
								смогла получить от него максимум пользы, поддержку, хорошую обратную связь, помощь в
								решении волнующих вопросов. Осознание своих глубинных проблем, влияющих на жизнь,
								их проработку, выделение зон роста. Самое главное, что я для себя вынесла – это
								восприятие мира, как изобильного, а не ограниченного.
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</section>