.s-target {
  padding: 50px 0;
  background-color: $pink;

  h2 {
    margin-bottom: 20px;
    color: $white;
  }
}

.list-target {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -2.5%;
  padding: 0;
  list-style: none;

  > li {
    display: flex;
    flex-direction: column;
    width: 22.5%;
    margin: 0 0 30px 2.5%;
  }
}

.target {

  &-img {
    height: 190px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-body {
    flex-grow: 1;
    background-color: $white;
    padding: 11px 13px;
  }
}