.s-coaches {
  padding: 60px 0;
  background: linear-gradient(135deg, #d1a7ce 0%,#d1a7ce 50%,$pink 50%,$pink 100%);

  h2 {
    margin-bottom: 30px;
    color: $white;
  }
}

.coaches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 35px;

  .link-vk {
    width: 32px;
    height: 20px;
    margin-right: 8px;
    opacity: .8;
  }
  .link-inst {
    opacity: .8;
  }
}

.coach {
  &-item {
    width: 45%;
    color: $white;
  }

  &-pic-wrap {
    width: 352px;
    height: 352px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 100%;
    border: 1px solid $white;
  }

  &__pic {
    width: 330px;
    height: 330px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
  }

  &__title {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $white;
    font-size: 36px;
  }

  &__descr {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.3;
  }

  @include media-breakpoint-down(sm) {

    &-item {
      width: 100%;
      margin-bottom: 40px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}