<footer class="footer">
	<div class="container">
		<div class="footer-row">
			<div class="footer-col">
				<img src="images/content/logo-color.png" alt="" class="footer__logo">
			</div>
			<div class="footer-col">
				<p>
					Индивидуальный предприниматель Клейман Ирина Игоревна
				</p>
				<p>
					Юридический адрес: г.Москва, ул.Б.Почтовая 18/20 корпус 18А-36
				</p>
				<p>
					ИНН 770174734821 от 01.07.2013
				</p>
				<p>
					ОГРН 313774618200052 от 01.07.2013
				</p>
			</div>
			<div class="footer-col text-right">
				<a href="tel:+79295915141" class="link-phone">+79295915141</a>
				<a href="tel:+79131031548" class="link-phone">+79131031548</a>
				<a href="#" class="link-popup">Заказать звонок</a>
			</div>
		</div>
	</div>
</footer>
