<header class="header">
	<div class="container">
		<div class="header-row">
			<div class="header-row-left">
				<div class="header-logo">
					<img class="header-logo__pic" src="images/content/logo-color.png" alt="логотип">
				</div>
				<div class="header-logo-descr">
					Академия Мастерства
				</div>
			</div>
			<div class="header-row-right">
				<div class="header-feedback">
					<a href="tel:+79295915141" class="link-phone">+79295915141</a>
					<a href="tel:+79131031548" class="link-phone">+79131031548</a>
					<a href="#popup-form-2" class="link-popup">Заказать звонок</a>
					<a href="#" class="link-vk"></a>
				</div>
			</div>
		</div>
	</div>
</header>