<div class="intro" style="background-image: url('images/content/intro-bg.jpg')">
	<div class="intro-inner">
		<div class="container js-fade-in">
			<p class="intro__title-sup">14-28 мая 2018 года</p>
			<h1 class="intro__title">Мастерская Женского Счастья Online</h1>
			<p class="intro__title-sub">#Путешествие_к_Себе</p>
			<button class="btn btn-pink">Забронировать место</button>
		</div>
	</div>
</div>