<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ title }}</title>
	<style>
		#preloader {
			position: fixed;
			z-index: 999;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #e5cde6;
		}
	</style>
	<link rel="stylesheet" href="css/style.css?{{ date().getTime() }}">
</head>
<body>
<div id="preloader"></div>
{% include 'header.twig' %}

{% block content %}{% endblock %}

<div id="popup-success" class="popup-success mfp-hide">
	<div class="form-inner text-center">
		<div class="i-success"></div>
		<p class="form__title mb-2">Ваша завка отправлена</p>
		<p>Мы свяжемся с вами в ближайшее время!</p>
	</div>
</div>

<form id="popup-form-2" class="form form-popup mfp-hide js-form-validate">
	<div class="form-inner">
		<p class="form__title">Заказ звонка</p>
		<div class="form-group">
			<input type="text" id="name" class="form-control" placeholder="Введите ваше имя" name="name">
		</div>
		<div class="form-group">
			<input type="text" id="phone" class="form-control js-phone" placeholder="Введите ваш телефон" name="phone">
		</div>
		<div class="form-group">
			<button class="btn btn-pink">Заказать звонок</button>
		</div>
	</div>
</form>

<form id="popup-form" class="form form-popup mfp-hide js-form-validate">
	<div class="form-inner">
		<p class="form__title">Подать заявку</p>
		<div class="form-group">
			<input type="text" id="email" class="form-control" placeholder="Введите ваш адрес эл.почты" name="email">
		</div>
		<div class="form-group">
			<input type="text" id="name" class="form-control" placeholder="Введите ваше имя" name="name">
		</div>
		<div class="form-group">
			<input type="text" id="phone" class="form-control js-phone" placeholder="Введите ваш телефон" name="phone">
		</div>
		<div class="form-group">
			<button class="btn btn-pink">Участвовать</button>
		</div>
	</div>
</form>

{% include 'footer.twig' %}

<script src="js/index.js?{{ date().getTime() }}"></script>
<script>
	var $time = $('#timer');
    var $clock = $('#timer-counter'),
        eventTime = moment('25-04-2018 23:48:00', 'DD-MM-YYYY HH:mm:ss').unix(),
        currentTime = moment().unix(),
        diffTime = eventTime - currentTime,
        duration = moment.duration(diffTime * 1000, 'milliseconds'),
        interval = 1000;

    // if time to countdown
    if(diffTime > 0) {

        var $d = $('<span class="days" ></span>').appendTo($clock),
            $h = $('<span class="hours" ></span>').appendTo($clock),
            $m = $('<span class="minutes" ></span>').appendTo($clock),
            $s = $('<span class="seconds" ></span>').appendTo($clock);

        var intervalID =  setInterval(function(){

            duration = moment.duration(duration.asMilliseconds() - interval, 'milliseconds');
            var d = moment.duration(duration).days(),
                h = moment.duration(duration).hours(),
                m = moment.duration(duration).minutes(),
                s = moment.duration(duration).seconds();

            if (!d) $d.fadeOut();

            d = $.trim(d).length === 1 ? '0' + d + ': ' : d + ': ';
            h = $.trim(h).length === 1 ? '0' + h + ': ' : h + ': ';
            m = $.trim(m).length === 1 ? '0' + m + ': ' : m + ': ';
            s = $.trim(s).length === 1 ? '0' + s : s;

            // show how many hours, minutes and seconds are left
            $d.text(d);
            $h.text(h);
            $m.text(m);
            $s.text(s);

            if (duration < 0) {
                clearInterval(intervalID);
                $time.fadeOut(0);
            }

        }, interval);

    }
    else {
        $time.fadeOut(0);
    }
</script>
</body>
</html>
