.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-white {
  color: $white;
}
.text-uppc {
  text-transform: uppercase;
}

.text-lg {
  margin-bottom: 40px;
  font: 700 72px/1 'Ubuntu', sans-serif;
}

@include media-breakpoint-down(xs) {
  .text-lg {
    margin-bottom: 30px;
    font: 700 52px/1 'Ubuntu', sans-serif;
  }
}